In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:

import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

**Step 2: Importing dataset**

In [ ]:
data=pd.read_csv("/content/Data.csv")

In [ ]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
data[data.isnull().any(axis=1)].head()

   Country   Age   Salary Purchased
4  Germany  40.0      NaN       Yes
6    Spain   NaN  52000.0        No

In [ ]:
df[['Age', 'Salary']] = df[['Age', 'Salary']].fillna(df[['Age', 'Salary']].mean())

**Step 4: Encoding categorical data**

In [ ]:
purchased_new = df.select_dtypes(include=['object']).copy()

In [ ]:
purchased_new["Purchased"].value_counts()

No     5
Yes    5
Name: Purchased, dtype: int64

In [ ]:
purchased_new["Purchased"].value_counts()
d1={'Yes':1,'No':0}
purchased_new=purchased_new.replace(d1)
purchased_new.head()

   Country  Purchased
0   France          0
1    Spain          1
2  Germany          0
3    Spain          0
4  Germany          1

**Step 5: Creating a dummy variable**

In [ ]:
b = []
for i in df.keys():
  b.append(i)
print(b)

['Country', 'Age', 'Salary', 'Purchased', 'data_encoded']

In [ ]:
df = pd.get_dummies(df, columns = ['Country'])

In [ ]:
b = []
for i in df.keys():
  b.append(i)
print(b)

['Age', 'Salary', 'Purchased', 'data_encoded', 'Country_France', 'Country_Germany', 'Country_Spain']

In [ ]:
df

,Age,Salary,Purchased,data_encoded,Country_France,Country_Germany,Country_Spain
0,44.000000,72000.000000,No,0,1,0,0
1,27.000000,48000.000000,Yes,1,0,0,1
2,30.000000,54000.000000,No,0,0,1,0
3,38.000000,61000.000000,No,0,0,0,1
4,40.000000,63777.777778,Yes,1,0,1,0
5,35.000000,58000.000000,Yes,1,1,0,0
6,38.777778,52000.000000,No,0,0,0,1
7,48.000000,79000.000000,Yes,1,1,0,0
8,50.000000,83000.000000,No,0,0,1,0
9,37.000000,67000.000000,Yes,1,1,0,0

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
b.remove('data_encoded')

In [ ]:
b

['Age', 'Salary', 'Country_France', 'Country_Germany', 'Country_Spain']

In [ ]:
X = df[b].values#array of features
y = df['Purchased'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Step 7: Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler ## standrard scalig 
scaler = StandardScaler() #initialise to a variable
scaler.fit(X_train,y_train) # we are finding the values of mean and sd from the td
X_train_scaled = scaler.transform(X_train) # fit (mean, sd) and then transform the training data
X_test_scaled = scaler.transform(X_test) # transform the test data

In [ ]:
print(X_train_scaled)

[[ 0.26306757  0.12381479 -1.          2.64575131 -0.77459667]
 [-0.25350148  0.46175632  1.         -0.37796447 -0.77459667]
 [-1.97539832 -1.53093341 -1.         -0.37796447  1.29099445]
 [ 0.05261351 -1.11141978 -1.         -0.37796447  1.29099445]
 [ 1.64058505  1.7202972   1.         -0.37796447 -0.77459667]
 [-0.0813118  -0.16751412 -1.         -0.37796447  1.29099445]
 [ 0.95182631  0.98614835  1.         -0.37796447 -0.77459667]
 [-0.59788085 -0.48214934  1.         -0.37796447 -0.77459667]]

In [ ]:
print(X_test_scaled)

[[-1.45882927 -0.90166297 -1.          2.64575131 -0.77459667]
 [ 1.98496442  2.13981082 -1.          2.64575131 -0.77459667]]